<div class="row content-section">
  <h6 *ngIf="weatherService.pending">
    <i class="fa fa-spinner fa-spin"></i>
    &nbsp;searching weather data for {{weatherService.city.name}}
  </h6>
  <div *ngIf="weatherService.error && !weatherService.pending" class="callout alert" data-closable>
    {{weatherService.errMsg}}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div id='city_cont'>
    <a class="flex-item" id="osm_link" *ngIf="!weatherService.pending && !weatherService.error" href="{{weatherService.city.osm_link}}" target="_blank">
      <img src="img/osm_icon.png" class="osm_link_icon">
    </a>
    <weather-input class="flex-item" (cityChangedEvent)="cityChanged($event)"></weather-input>
  </div>
  <BR>
  <ul>
    <li class="weather" *ngFor="let weather of weatherService.weather">
      <div><strong><h4>{{weather.dt | dateConvert: translate.currentLang }}</h4></strong></div>
      <div style="display: flex;">
        <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" class="weather_img" />
        <div>
          <h3>{{weather.temp.day | tempConvert: isFarenheit | number:'1.0-1'}}{{'T_UNIT' | translate}}</h3>
          <h6 class="weather_alt_temp">{{weather.temp.min | tempConvert: isFarenheit | number:'1.0-1'}}{{'T_UNIT' | translate}} / {{weather.temp.max | tempConvert: isFarenheit | number:'1.0-1'}}{{'T_UNIT' | translate}}</h6>
        </div>
        <div class="weather_desc">{{weather.id | translate}}</div>
      </div>
    </li>
  </ul>
</div>
