/* Modules/Weather */
.weather_img
  min-width: 50px
  margin: auto 10px auto 5px

.weather_temp
  margin-bottom: 0

.weather_alt_temp
  font-size: 0.88rem
  padding: 0
  margin: 0

.weather_desc
  margin-top: auto
  margin-bottom: auto
  padding-left: 15px
  font-size: 22px
  font-weight: 600
  font-family: 'RobotoThin'

.temp_block
  width: 100px

li.weather
  border-bottom-style: solid
  border-bottom-color: lightgray
  border-bottom-width: 1px
  margin-bottom: 14px
  padding-bottom: 8px

.osm_link_icon
  margin-top: 1em
  margin-left: 5px
