/* Modules/Weather */
.weather_img
  min-width: 50px
  margin: auto 10px auto 5px

/* Modules/Weather */
.weather_img_detail
  min-width: 70px

.weather_temp
  margin-bottom: 0

.weather_alt_temp
  font-size: 0.88rem
  padding: 0
  margin: 0

.weather_desc
  margin-top: auto
  margin-bottom: auto
  padding-left: 15px
  font-size: 22px
  font-weight: 600
  font-family: 'RobotoThin'

.weather_detail_desc
  font-size: 18px

.weather_detail_temp
  margin-bottom: 0

.weather_detail_time
  font-size: 20px
  margin-bottom: 5px

.temp_block
  width: 100px

i.fa.fa-clock-o
  padding-right: 0
  color: grey

li.weather
  border-bottom-style: solid
  border-bottom-color: #cacaca
  border-bottom-width: 1px
  margin-bottom: 0px
  margin-top: 0px
  padding-top: 5px
  padding-left: 10px
  padding-bottom: 4px
  cursor: pointer
  &:hover
    background-color: lightgrey

.osm_link_icon
  margin-top: 1em
  margin-left: 5px

md-card
  margin: 10px
  min-width: 260px

.temp_label
  font-size: 30px
  margin-bottom: 0

.cards
  display: inline-flex
  flex-wrap: wrap
  margin-left: 20px

md-card-title
  display: block
  margin-bottom: 10px
